<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchShop - Начало</title>
    <link rel="stylesheet" href="~/css/homeCss.css" />
</head>
<body>
    <style>
     

    </style>
    <section class="hero">
        <div class="hero-content">
            <h1>Купи перфектиния аксесоар за твоята визия</h1>
            <p>Най - добрите часовници на пазара</p>
            <a class="btn-primary" asp-area="" asp-controller="Product" asp-action="Index">Купи сега</a>
        </div>
    </section>

    <section class="features">
        <h2>Защо да изберете WachShop?</h2>
        <div class="feature-list">
            <div class="feature-item">
                <h3>Сигурност</h3>
                <p>Най-модерни технологии за защита на твоите средства и лични данни.</p>
            </div>
            <div class="feature-item">
                <h3>Лесен интерфейс</h3>
                <p>Платформата е проектирана с мисъл за удобство и бързина.</p>
            </div>
            <div class="feature-item">
                <h3>Ниски такси</h3>
                <p>Купи най - емблематичните и специални часовници, на специални цени.</p>
            </div>
        </div>
    </section>

    <section class="cta">
        <h2>Започни да пазаруваш сега!</h2>
        <p>Регистрирай се и стани част от общността.</p>
        <a class="btn-secondary" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </section>

</body>
</html>

